/*! normalize.css v2.1.2 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}ul{list-style-type: none;margin:0;padding:0}@font-face {font-family: "bebas_neueregular";src: url("bebasneue-webfont.eot");src: url("bebasneue-webfont.eot?#iefix") format("embedded-opentype"), url("bebasneue-webfont.woff") format("woff"), url("bebasneue-webfont.ttf") format("truetype"), url("bebasneue-webfont.svg#bebas_neueregular") format("svg");font-weight: normal;font-style: normal;}

body {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  font: normal 100%/1.5 Georgia, Cambria, "Times New Roman", Times, serif;
  color: #545454;
  background-color: transparent;
}

a {
  color: #de4d00;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
header[role="banner"] {
  text-align: center;
  background: #e9e7e5;
  padding: 1.5em 3000px 1em;
  margin: 0 -3000px 0 -3000px;
}
header[role="banner"] a {
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
}
header[role="banner"] h1 {
  margin: 0 auto 0.1em;
  font-family: "bebas_neueregular";
  text-shadow: 0px 1px 0px #fbf9f7;
  font-size: 1.8em;
  line-height: 1em;
}
header[role="banner"] h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font: normal 0.5625em sans-serif;
  margin: 0 auto;
  text-shadow: 0px 1px 0px #fbf9f7;
}

/* line 109, ../../../design/sass/_small.sass */
div[role="main"] {
  margin: 1.5em auto 0;
  max-width: 90%;
}
/* line 112, ../../../design/sass/_small.sass */
div[role="main"] h1 {
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  font-size: 1.375em;
  margin-top: 1em;
}

/* line 118, ../../../design/sass/_small.sass */
article h1 {
  font: normal 1.75em/1.25 Georgia, Times, serif;
}

/* line 120, ../../../design/sass/_small.sass */
article h2 {
  font-weight: 400;
  color: #212121;
  font-size: 1.375em;
  letter-spacing: 0.06875em;
  margin-top: 1em;
  margin-bottom: 0.6875em;
}

/* line 128, ../../../design/sass/_small.sass */
article h3 {
  font-size: 1.125em;
  font-weight: normal;
  color: black;
  margin-top: 1.43478em;
  margin-bottom: -0.21739em;
}
