/*! normalize.css v2.1.2 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}ul{list-style-type: none;margin:0;padding:0}@font-face {font-family: "bebas_neueregular";src: url("bebasneue-webfont.eot");src: url("bebasneue-webfont.eot?#iefix") format("embedded-opentype"), url("bebasneue-webfont.woff") format("woff"), url("bebasneue-webfont.ttf") format("truetype"), url("bebasneue-webfont.svg#bebas_neueregular") format("svg");font-weight: normal;font-style: normal;}

body {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  font: normal 100%/1.5 Georgia, Cambria, "Times New Roman", Times, serif;
  color: #545454;
  background-color: transparent;
}
img { max-width: 100%;}
header[role="banner"] {
  text-align: center;
  background: #e9e7e5;
  padding: 1em 180em 0;
  margin: 0 -180em 0 -180em;
  box-shadow: 0 3px 2px -2px #bebebe;
}
header[role="banner"] .logo {
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  display: block;
  margin-bottom: .75em;
}
header[role="banner"] h1 {
  margin: 0 auto 0.1em;
  font-family: "bebas_neueregular", sans-serif;
  text-shadow: 0px 1px 0px #fbf9f7;
  font-size: 1.8em;
  line-height: 1em;
}
header[role="banner"] h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font: normal 0.5625em sans-serif;
  margin: 0 auto;
  text-shadow: 0px 1px 0px #fbf9f7;
}
nav[role="navigation"] {
  border-top: 1px #dbd9d7 dotted;
  background: #e9e7e5;
  margin: .5em -180em;
  padding: 0.5em 180em 0;
  text-align: center;
  position: relative;
  z-index: 2;
  text-shadow: 0px 1px 0px #fbf9f7;
}
nav[role="navigation"] a {
  text-decoration: none;
  color: #505050;
}
nav[role="navigation"] ul {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.75em;
  font-weight: 300;
  margin: .25em 0;
}
nav[role="navigation"] li {
  display: inline;
  margin: 0 0.5em;
}
nav[role="navigation"] li.last {
  margin-right: 0;
}
footer {
  padding: 1.2em 180em;
  margin: 4em -180em 0;
  background: #f4f4f4;
  text-align: center;
  box-shadow: inset -5px 1px 8px #dfdfdf;
}
footer ul {
  padding-left: 0;
}
 /* clearfix For modern browsers */
div[role="main"]:before,
div[role="main"]:after,
header[role="banner"]:after {
    content:"";
    display:table;
    clear:both;
}
/* Clearfix or IE 6/7 (trigger hasLayout) */
div[role="main"], header[role="banner"] {
    zoom:1;
}
.product-list {
    text-align: center;
    margin-top: 2.5em; /* 40px ÷ 16px */
}
.product-list li {
    margin-bottom: 3em; /* 48px ÷ 16px */
}
.product-list h3 {
    font-size: 1.125em; /* 18px ÷ 16px */
    text-transform: uppercase; 
    letter-spacing: .055555555556em; /* 1px ÷ 18px  */
    line-height: 1.222222em; /* 22px ÷ 18px */ 
    margin: .75em 0 .5em;
    padding: 0;
    color: #444;
}
.product-list h4 {
    font-size: .75em; /* 12px ÷ 16px */
    font-weight: normal;
    font-style: italic;
    margin: 0;
    padding: 0
}
.product-list p {
    font-size: .875em; /* 14px ÷ 16px */
    text-align: left;
    color: #777;
}

.product-list a {
    text-decoration: none;
    color: #444;
}

@media screen and (min-width: 37.25em /* 620px ÷ 16px */) {
    header[role="banner"] {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
    header[role="banner"] .logo {
        font-size: 110%;
		float: left;
		text-align: left;
		margin: 0 .5em 0 0;
	}
	nav[role="navigation"] {
		float: right;
        margin-left: 0;
        margin-right: 0;
        margin-top: .625em;
        padding: 0;
        border: none;
        background: transparent;
	}
	.product-list {
        margin-top: 3.5em; /* 52px ÷ 16px */
    }
	.product-list li {
		display: inline-block;
        width: 40%; /* 240px ÷ 16px */
		margin-right: 10%;
	}
    #book02, #book04, #book06 { margin-right: 0;}
	div[role="main"] p {
		font-size: 1em;
	}
}
@media screen and (min-width: 48em /* 768px ÷ 16px */) {
    .product-list li {
        width: 18.75em; /* 300px ÷ 16px */
    }
}
@media screen and (min-width: 56.25em /* 900px ÷ 16px */) {
    body {
        max-width: 960px;
    }
    .product-list li {
        width: 29%;
		margin-right: 5%;
	}
    #book02, #book04 { margin-right: 5%;}
    #book03 { margin-right: 0;}

}
@media screen and (min-width: 63.75em /* 1020px ÷ 16px */) {
    body {
        max-width: 1020px;
        font-size: 110%;
    }
}
